.header {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around
}
.title {
    font-size: 5rem;
    text-align: center;
}
.container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
  } 
  .card {
    font-size: 2rem;
    background-color: aliceblue;
    padding: 2%;
    margin: 2rem 2rem;
    border: 3px solid black;
    border-radius: 15px;
    width: 500px;
    height: 30vh;
  } 

  .directions {
    font-size: 2rem;
    text-align: center;
  }
  .display {
    margin-left: 1rem;
  }